In [1]:
import numpy as np
import pandas as pd

## 기술 통계 계산과 요약

In [2]:
df = pd.DataFrame([[1.4, np.nan], [7.1,-4.5],
                  [np.nan,np.nan],[0.75,-1.3]],
                 index = ['a','b','c','d'],
                 columns = ['one','two'])

df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
# 각 컬럼의 합을 담은 Series

df.sum()

one    9.25
two   -5.80
dtype: float64

In [4]:
df.sum(axis = 'columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

전체 로우나 컬럼의 값이 NA가 아니라면 NA 값은 제외되고 계산한다.

이는 **Skipna**옵션으로 조정할 수 있다.

In [5]:
df.mean(axis = 'columns', skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

#### 축소 메소드 옵션

|옵션|설명|
|-----|-----|
|**axis**|연산을 수행할 축 DataFrame에서 0은 로우고 1은 컬럼이다.|
|**skipna**|누락된 값을 제외할 것인지 정하는 옵션. 기본값은 True|

In [6]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

**describe**는 한 번에 여러 개의 통계 결과를 만들어낸다.

### 상관관계와 공분산

**pandas-datareader** 패키지를 이용해서 주식가격과 시가총액을 담고있는 DataFrame을 구할 수 있다.

In [7]:
import pandas_datareader.data as web

all_data = {ticker : web.get_data_yahoo(ticker)
           for ticker in ['AAPL','IBM','MSFT','GOOG']}

price = pd.DataFrame({ticker : data['Adj Close']
                     for ticker, data in all_data.items()})

volume = pd.DataFrame({ticker : data['Volume']
                      for ticker, data in all_data.items()})

In [8]:
all_data

{'AAPL':                   High         Low        Open       Close      Volume  \
 Date
 2015-02-20  129.500000  128.050003  128.619995  129.500000  48948400.0
 2015-02-23  133.000000  129.660004  130.020004  133.000000  70974100.0
 2015-02-24  133.600006  131.169998  132.940002  132.169998  69228100.0
 2015-02-25  131.600006  128.149994  131.559998  128.789993  74711700.0
 2015-02-26  130.869995  126.610001  128.789993  130.419998  91287500.0
 2015-02-27  130.570007  128.240005  130.000000  128.460007  62014800.0
 2015-03-02  130.279999  128.300003  129.250000  129.089996  48096700.0
 2015-03-03  129.520004  128.089996  128.960007  129.360001  37816300.0
 2015-03-04  129.559998  128.320007  129.100006  128.539993  31666300.0
 2015-03-05  128.750000  125.760002  128.580002  126.410004  56517100.0
 2015-03-06  129.369995  126.260002  128.399994  126.599998  72842100.0
 2015-03-09  129.570007  125.059998  127.959999  127.139999  88528500.0
 2015-03-10  127.220001  123.800003  126.410004  124.510002  68856600.0
 2015-03-11  124.769997  122.110001  124.750000  122.239998  68939000.0
 2015-03-12  124.900002  121.629997  122.309998  124.449997  48362700.0
 2015-03-13  125.400002  122.580002  124.400002  123.589996  51827300.0
 2015-03-16  124.949997  122.870003  123.879997  124.949997  35874300.0
 2015-03-17  127.320000  125.650002  125.900002  127.040001  51023100.0
 2015-03-18  129.160004  126.370003  127.000000  128.470001  65270900.0
 2015-03-19  129.250000  127.400002  128.750000  127.500000  45809500.0
 2015-03-20  128.399994  125.160004  128.250000  125.900002  68695100.0
 2015-03-23  127.849998  126.519997  127.120003  127.209999  37709700.0
 2015-03-24  128.039993  126.559998  127.230003  126.690002  32842300.0
 2015-03-25  126.820000  123.379997  126.540001  123.379997  51655200.0
 2015-03-26  124.879997  122.599998  122.760002  124.239998  47572900.0
 2015-03-27  124.699997  122.910004  124.570000  123.250000  39546200.0
 2015-03-30  126.400002  124.000000  124.050003  126.370003  47099700.0
 2015-03-31  126.489998  124.360001  126.089996  124.430000  42090600.0
 2015-04-01  125.120003  123.099998  124.820000  124.250000  40621400.0
 2015-04-02  125.559998  124.190002  125.029999  125.320000  32220100.0
 ...                ...         ...         ...         ...         ...
 2020-01-07  300.899994  297.480011  299.839996  298.390015  27218000.0
 2020-01-08  304.440002  297.160004  297.160004  303.190002  33019800.0
 2020-01-09  310.429993  306.200012  307.239990  309.630005  42527100.0
 2020-01-10  312.670013  308.250000  310.600006  310.329987  35161200.0
 2020-01-13  317.070007  311.149994  311.640015  316.959991  30383000.0
 2020-01-14  317.570007  312.170013  316.700012  312.679993  40488600.0
 2020-01-15  315.500000  309.549988  311.850006  311.339996  30480900.0
 2020-01-16  315.700012  312.089996  313.589996  315.239990  27207300.0
 2020-01-17  318.739990  315.000000  316.269989  318.730011  34454100.0
 2020-01-21  319.019989  316.000000  317.190002  316.570007  27710800.0
 2020-01-22  319.989990  317.309998  318.579987  317.700012  25458100.0
 2020-01-23  319.559998  315.649994  317.920013  319.230011  26118000.0
 2020-01-24  323.329987  317.519989  320.250000  318.309998  36634400.0
 2020-01-27  311.769989  304.880005  310.059998  308.950012  40485000.0
 2020-01-28  318.399994  312.190002  312.600006  317.690002  40558500.0
 2020-01-29  327.850006  321.380005  324.450012  324.339996  54057300.0
 2020-01-30  324.089996  318.750000  320.540009  323.869995  31685800.0
 2020-01-31  322.679993  308.290009  320.929993  309.510010  49897100.0
 2020-02-03  313.489990  302.220001  304.299988  308.660004  43496400.0
 2020-02-04  319.640015  313.630005  315.309998  318.850006  34154100.0
 2020-02-05  324.760010  318.950012  323.519989  321.450012  29706700.0
 2020-02-06  325.220001  320.260010  322.570007  325.209991  26356400.0
 2020-02-07  323.399994  318.000000  322.369995  320.029999  29421000.0
 2020-02-10  321.549988  313.850006  314.179993  321.549988  27337200.0
 2020-02-11  323.899994  318.709991  323.600006  319.609985  23580800.0
 2020-02-12  327.220001  321.470001  321.470001  327.200012  28432600.0
 2020-02-13  326.220001  323.350006  324.190002  324.869995  23686900.0
 2020-02-14  325.980011  322.850006  324.739990  324.950012  20028400.0
 2020-02-18  319.750000  314.609985  315.359985  319.000000  38132800.0
 2020-02-19  324.570007  320.000000  320.000000  323.619995  23447800.0

              Adj Close
 Date
 2015-02-20  119.173599
 2015-02-23  122.394508
 2015-02-24  121.630684
 2015-02-25  118.520218
 2015-02-26  120.020248
 2015-02-27  118.216537
 2015-03-02  118.796295
 2015-03-03  119.044762
 2015-03-04  118.290138
 2015-03-05  116.330009
 2015-03-06  116.504845
 2015-03-09  117.001801
 2015-03-10  114.581505
 2015-03-11  112.492523
 2015-03-12  114.526291
 2015-03-13  113.734856
 2015-03-16  114.986427
 2015-03-17  116.909760
 2015-03-18  118.225739
 2015-03-19  117.333099
 2015-03-20  115.860680
 2015-03-23  117.066200
 2015-03-24  116.587677
 2015-03-25  113.541618
 2015-03-26  114.333046
 2015-03-27  113.421997
 2015-03-30  116.293190
 2015-03-31  114.507881
 2015-04-01  114.342239
 2015-04-02  115.326912
 ...                ...
 2020-01-07  297.683533
 2020-01-08  302.472137
 2020-01-09  308.896912
 2020-01-10  309.595215
 2020-01-13  316.209534
 2020-01-14  311.939667
 2020-01-15  310.602844
 2020-01-16  314.493591
 2020-01-17  317.975372
 2020-01-21  315.820465
 2020-01-22  316.947815
 2020-01-23  318.474182
 2020-01-24  317.556335
 2020-01-27  308.218506
 2020-01-28  316.937805
 2020-01-29  323.572052
 2020-01-30  323.103180
 2020-01-31  308.777191
 2020-02-03  307.929199
 2020-02-04  318.095062
 2020-02-05  320.688934
 2020-02-06  324.440002
 2020-02-07  320.029999
 2020-02-10  321.549988
 2020-02-11  319.609985
 2020-02-12  327.200012
 2020-02-13  324.869995
 2020-02-14  324.950012
 2020-02-18  319.000000
 2020-02-19  323.619995

 [1258 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2015-02-20  164.339996  162.089996  163.639999  163.649994   3353000.0
 2015-02-23  164.399994  162.500000  164.229996  162.910004   2714400.0
 2015-02-24  164.990005  161.509995  162.490005  164.830002   4701600.0
 2015-02-25  164.960007  162.580002  164.940002  162.809998   4004600.0
 2015-02-26  164.139999  159.770004  163.740005  160.869995   7110800.0
 2015-02-27  162.289993  160.160004  160.869995  161.940002   4410000.0
 2015-03-02  161.940002  159.809998  161.940002  160.479996   5917900.0
 2015-03-03  161.750000  160.000000  160.270004  161.029999   3234400.0
 2015-03-04  160.559998  158.720001  160.539993  159.419998   3633600.0
 2015-03-05  161.500000  159.699997  159.860001  161.179993   3791700.0
 2015-03-06  161.440002  158.059998  160.190002  158.500000   4540200.0
 2015-03-09  161.149994  158.199997  158.199997  160.770004   5193900.0
 2015-03-10  160.229996  157.809998  159.600006  157.809998   4601000.0
 2015-03-11  159.139999  155.940002  158.570007  156.800003   5709900.0
 2015-03-12  158.720001  156.270004  156.270004  157.979996   4567300.0
 2015-03-13  157.520004  153.399994  157.460007  154.279999   6064100.0
 2015-03-16  157.089996  154.800003  155.050003  157.080002   3749600.0
 2015-03-17  157.289993  155.369995  156.199997  156.960007   3311700.0
 2015-03-18  160.699997  155.800003  156.850006  159.809998   5738800.0
 2015-03-19  160.919998  158.809998  159.699997  159.809998   3878600.0
 2015-03-20  163.000000  160.350006  160.949997  162.880005   9006400.0
 2015-03-23  165.350006  162.729996  162.770004  164.630005   5930100.0
 2015-03-24  164.889999  162.899994  164.789993  163.000000   4346100.0
 2015-03-25  163.080002  159.199997  163.080002  159.199997   5428900.0
 2015-03-26  161.250000  158.910004  159.270004  160.589996   4396000.0
 2015-03-27  160.899994  159.229996  160.789993  160.399994   3477900.0
 2015-03-30  163.600006  161.250000  161.309998  162.669998   4138000.0
 2015-03-31  162.330002  160.399994  161.080002  160.500000   4255400.0
 2015-04-01  160.619995  158.389999  160.229996  159.179993   3700800.0
 2015-04-02  162.539993  158.889999  159.520004  160.449997   4671600.0
 ...                ...         ...         ...         ...         ...
 2020-01-07  134.960007  133.399994  133.690002  134.190002   3090800.0
 2020-01-08  135.860001  133.919998  134.509995  135.309998   4346000.0
 2020-01-09  136.789993  135.309998  135.740005  136.740005   3730600.0
 2020-01-10  137.869995  136.309998  137.000000  136.690002   3255400.0
 2020-01-13  136.639999  135.070007  135.479996  136.600006   3531000.0
 2020-01-14  137.139999  135.550003  136.279999  135.820007   3681000.0
 2020-01-15  138.059998  135.710007  136.000000  136.619995   4045900.0
 2020-01-16  138.190002  137.009995  137.320007  137.979996   4320900.0
 2020-01-17  138.330002  136.160004  136.539993  138.309998   5623300.0
 2020-01-21  139.350006  137.600006  137.809998  139.169998   7244100.0
 2020-01-22  145.789993  142.550003  143.320007  143.889999  16470400.0
 2020-01-23  144.410004  142.149994  144.199997  142.869995   5657800.0
 2020-01-24  143.919998  140.460007  143.389999  140.559998   5580200.0
 2020-01-27  140.070007  138.100006  138.500000  138.619995   4166600.0
 2020-01-28  140.470001  138.750000  139.500000  139.550003   3451600.0
 2020-01-29  139.580002  137.600006  139.169998  137.690002   3053800.0
 2020-01-30  136.970001  134.970001  136.759995  136.770004   5057900.0
 2020-01-31  144.050003  140.789993  142.899994  143.729996  18994600.0
 2020-02-03  147.279999  143.899994  144.250000  146.270004   8887500.0
 2020-02-04  149.380005  146.880005  147.779999  149.110001   5621000.0
 2020-02-05  157.440002  150.149994  150.210007  156.330002  14386800.0
 2020-02-06  158.750000  155.419998  156.820007  156.759995   8400500.0
 2020-02-07  155.539993  152.919998  154.550003  153.410004   6423400.0
 2020-02-10  154.440002  151.580002  152.970001  154.429993   5239800.0
 2020-02-11  155.220001  152.729996  155.119995  153.479996   3835100.0
 2020-02-12  155.600006  153.520004  153.750000  155.309998   4437800.0
 2020-02-13  154.830002  153.410004  154.369995  154.309998   3820700.0
 2020-02-14  154.559998  149.770004  154.419998  150.699997   6099200.0
 2020-02-18  151.380005  149.639999  149.789993  151.100006   3343000.0
 2020-02-19  151.889999  150.309998  151.539993  150.860001   2732900.0

              Adj Close
 Date
 2015-02-20  131.425018
 2015-02-23  130.830750
 2015-02-24  132.372681
 2015-02-25  130.750443
 2015-02-26  129.192459
 2015-02-27  130.051773
 2015-03-02  128.879242
 2015-03-03  129.320953
 2015-03-04  128.027969
 2015-03-05  129.441391
 2015-03-06  127.289124
 2015-03-09  129.112137
 2015-03-10  126.735023
 2015-03-11  125.923889
 2015-03-12  126.871559
 2015-03-13  123.900124
 2015-03-16  126.148750
 2015-03-17  126.052376
 2015-03-18  128.341202
 2015-03-19  128.341202
 2015-03-20  130.806686
 2015-03-23  132.212097
 2015-03-24  130.903015
 2015-03-25  127.851295
 2015-03-26  128.967529
 2015-03-27  128.815002
 2015-03-30  130.638016
 2015-03-31  128.895309
 2015-04-01  127.835228
 2015-04-02  128.855179
 ...                ...
 2020-01-07  132.803253
 2020-01-08  133.911667
 2020-01-09  135.326904
 2020-01-10  135.277420
 2020-01-13  135.188354
 2020-01-14  134.416412
 2020-01-15  135.208130
 2020-01-16  136.554077
 2020-01-17  136.880661
 2020-01-21  137.731781
 2020-01-22  142.403000
 2020-01-23  141.393539
 2020-01-24  139.107422
 2020-01-27  137.187454
 2020-01-28  138.107864
 2020-01-29  136.267075
 2020-01-30  135.356583
 2020-01-31  142.244659
 2020-02-03  144.758408
 2020-02-04  147.569061
 2020-02-05  154.714447
 2020-02-06  155.139999
 2020-02-07  153.410004
 2020-02-10  154.429993
 2020-02-11  153.479996
 2020-02-12  155.309998
 2020-02-13  154.309998
 2020-02-14  150.699997
 2020-02-18  151.100006
 2020-02-19  150.860001

 [1258 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close      Volume  \
 Date
 2015-02-20   43.880001   43.290001   43.509998   43.860001  29721100.0
 2015-02-23   44.189999   43.650002   43.700001   44.150002  32518800.0
 2015-02-24   44.299999   43.919998   44.150002   44.090000  25271700.0
 2015-02-25   44.090000   43.799999   43.950001   43.990002  29759800.0
 2015-02-26   44.230000   43.889999   43.990002   44.060001  28957300.0
 2015-02-27   44.200001   43.660000   44.130001   43.849998  33807700.0
 2015-03-02   44.189999   43.549999   43.669998   43.880001  31924000.0
 2015-03-03   43.830002   43.090000   43.560001   43.279999  31748600.0
 2015-03-04   43.209999   42.880001   43.009998   43.060001  25748700.0
 2015-03-05   43.240002   42.820000   43.070000   43.110001  23193500.0
 2015-03-06   43.110001   42.150002   43.000000   42.360001  36248800.0
 2015-03-09   43.130001   42.189999   42.189999   42.849998  32108000.0
 2015-03-10   42.709999   42.029999   42.349998   42.029999  39159700.0
 2015-03-11   42.369999   41.840000   42.310001   41.980000  32215300.0
 2015-03-12   41.650002   40.860001   41.330002   41.020000  59992500.0
 2015-03-13   41.470001   40.610001   40.700001   41.380001  58007700.0
 2015-03-16   41.639999   41.279999   41.470001   41.560001  35273500.0
 2015-03-17   41.830002   41.150002   41.369999   41.700001  31673400.0
 2015-03-18   42.830002   41.330002   41.430000   42.500000  44194800.0
 2015-03-19   42.590000   42.220001   42.259998   42.290001  33879100.0
 2015-03-20   42.980000   42.490002   42.560001   42.880001  71904500.0
 2015-03-23   43.130001   42.779999   42.880001   42.860001  26246100.0
 2015-03-24   43.169998   42.750000   42.779999   42.900002  25513300.0
 2015-03-25   42.930000   41.439999   42.919998   41.459999  43469900.0
 2015-03-26   41.610001   40.919998   41.220001   41.209999  37495600.0
 2015-03-27   41.430000   40.830002   41.119999   40.970001  34401400.0
 2015-03-30   41.540001   40.910000   41.099998   40.959999  35049700.0
 2015-03-31   41.029999   40.540001   40.779999   40.660000  34887200.0
 2015-04-01   40.759998   40.310001   40.599998   40.720001  36865300.0
 2015-04-02   40.740002   40.119999   40.660000   40.290001  37487500.0
 ...                ...         ...         ...         ...         ...
 2020-01-07  159.669998  157.320007  159.320007  157.580002  21634100.0
 2020-01-08  160.800003  157.949997  158.929993  160.089996  27746500.0
 2020-01-09  162.220001  161.029999  161.839996  162.089996  21385000.0
 2020-01-10  163.220001  161.179993  162.820007  161.339996  20725900.0
 2020-01-13  163.309998  161.259995  161.759995  163.279999  21626500.0
 2020-01-14  163.600006  161.720001  163.389999  162.130005  23477400.0
 2020-01-15  163.940002  162.570007  162.619995  163.179993  21417900.0
 2020-01-16  166.240005  164.029999  164.350006  166.169998  23865400.0
 2020-01-17  167.470001  165.429993  167.419998  167.100006  34371700.0
 2020-01-21  168.190002  166.429993  166.679993  166.500000  29517200.0
 2020-01-22  167.490005  165.679993  167.399994  165.699997  24138800.0
 2020-01-23  166.800003  165.270004  166.190002  166.720001  19680800.0
 2020-01-24  167.529999  164.449997  167.509995  165.039993  24918100.0
 2020-01-27  163.380005  160.199997  161.149994  162.279999  32078100.0
 2020-01-28  165.759995  163.070007  163.779999  165.460007  24899900.0
 2020-01-29  168.750000  165.690002  167.839996  168.039993  34754500.0
 2020-01-30  174.050003  170.789993  174.050003  172.779999  51597500.0
 2020-01-31  172.399994  169.580002  172.210007  170.229996  36142700.0
 2020-02-03  174.500000  170.399994  170.429993  174.380005  30149100.0
 2020-02-04  180.639999  176.309998  177.139999  180.119995  36433300.0
 2020-02-05  184.199997  178.410004  184.029999  179.899994  39186300.0
 2020-02-06  183.820007  180.059998  180.970001  183.630005  27751400.0
 2020-02-07  185.630005  182.479996  182.850006  183.889999  33529100.0
 2020-02-10  188.839996  183.250000  183.580002  188.699997  35844300.0
 2020-02-11  190.699997  183.500000  190.649994  184.440002  53159900.0
 2020-02-12  185.850006  181.850006  185.580002  184.710007  47062900.0
 2020-02-13  186.229996  182.869995  183.080002  183.710007  35295800.0
 2020-02-14  185.410004  182.649994  183.250000  185.350006  23149500.0
 2020-02-18  187.699997  185.500000  185.610001  187.229996  27792200.0
 2020-02-19  188.179993  186.470001  188.059998  187.279999  29885100.0

              Adj Close
 Date
 2015-02-20   39.547894
 2015-02-23   39.809380
 2015-02-24   39.755280
 2015-02-25   39.665104
 2015-02-26   39.728226
 2015-02-27   39.538872
 2015-03-02   39.565929
 2015-03-03   39.024906
 2015-03-04   38.826534
 2015-03-05   38.871628
 2015-03-06   38.195362
 2015-03-09   38.637188
 2015-03-10   37.897800
 2015-03-11   37.852718
 2015-03-12   36.987106
 2015-03-13   37.311714
 2015-03-16   37.474010
 2015-03-17   37.600246
 2015-03-18   38.321594
 2015-03-19   38.132248
 2015-03-20   38.664242
 2015-03-23   38.646210
 2015-03-24   38.682270
 2015-03-25   37.383846
 2015-03-26   37.158421
 2015-03-27   36.942028
 2015-03-30   36.933010
 2015-03-31   36.662495
 2015-04-01   36.716602
 2015-04-02   36.328884
 ...                ...
 2020-01-07  157.150772
 2020-01-08  159.653915
 2020-01-09  161.648468
 2020-01-10  160.900513
 2020-01-13  162.835236
 2020-01-14  161.688370
 2020-01-15  162.735504
 2020-01-16  165.717361
 2020-01-17  166.644836
 2020-01-21  166.046463
 2020-01-22  165.248642
 2020-01-23  166.265869
 2020-01-24  164.590439
 2020-01-27  161.837952
 2020-01-28  165.009308
 2020-01-29  167.582260
 2020-01-30  172.309357
 2020-01-31  169.766296
 2020-02-03  173.904999
 2020-02-04  179.629364
 2020-02-05  179.409958
 2020-02-06  183.129807
 2020-02-07  183.389099
 2020-02-10  188.185989
 2020-02-11  183.937607
 2020-02-12  184.206863
 2020-02-13  183.209595
 2020-02-14  184.845123
 2020-02-18  186.720001
 2020-02-19  187.279999

 [1258 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close     Volume  \
 Date
 2015-02-20   542.261230   534.333008   541.642944   537.474365  1444300.0
 2015-02-23   534.970215   527.960510   534.582275   530.453613  1457800.0
 2015-02-24   535.320251   526.803650   528.548889   534.622192  1005000.0
 2015-02-25   544.724487   533.978943   534.432739   542.380920  1825900.0
 2015-02-26   554.617310   540.017395   541.722717   553.959106  2311500.0
 2015-02-27   563.163818   551.386169   552.722473   556.871094  2410100.0
 2015-03-02   570.583435   557.220154   558.995300   569.775696  2129600.0
 2015-03-03   573.814575   564.968872   568.888123   572.069397  1704700.0
 2015-03-04   575.529907   566.454773   570.304260   571.800110  1876800.0
 2015-03-05   576.327698   571.840027   573.445618   573.754761  1389600.0
 2015-03-06   575.101074   565.208191   573.305969   566.130676  1659100.0
 2015-03-09   568.708618   561.992065   565.307922   567.292480  1062100.0
 2015-03-10   563.303467   553.211182   562.705078   553.490417  1792300.0
 2015-03-11   556.611816   549.172241   553.620056   549.670898  1820700.0
 2015-03-12   554.846680   548.952820   551.994507   553.989014  1389600.0
 2015-03-13   556.871094   542.729919   551.984497   545.821472  1703500.0
 2015-03-16   555.325378   544.505066   549.441528   552.991760  1640900.0
 2015-03-17   552.283691   546.499573   550.199402   549.331787  1805500.0
 2015-03-18   558.247314   545.502319   550.987244   557.968079  2134500.0
 2015-03-19   559.264526   554.622314   557.858398   556.462219  1197200.0
 2015-03-20   560.182007   557.519348   560.112183   558.825745  2616800.0
 2015-03-23   560.820251   554.308167   558.895569   557.279968  1643800.0
 2015-03-24   573.016785   559.673401   561.019714   568.628845  2583200.0
 2015-03-25   570.693176   557.210205   568.937988   557.255066  2152200.0
 2015-03-26   557.369751   549.142334   556.063354   553.649963  1572600.0

In [9]:
price

                  AAPL         IBM        MSFT         GOOG
Date
2015-02-20  119.173599  131.425018   39.547894   537.474365
2015-02-23  122.394508  130.830750   39.809380   530.453613
2015-02-24  121.630684  132.372681   39.755280   534.622192
2015-02-25  118.520218  130.750443   39.665104   542.380920
2015-02-26  120.020248  129.192459   39.728226   553.959106
2015-02-27  118.216537  130.051773   39.538872   556.871094
2015-03-02  118.796295  128.879242   39.565929   569.775696
2015-03-03  119.044762  129.320953   39.024906   572.069397
2015-03-04  118.290138  128.027969   38.826534   571.800110
2015-03-05  116.330009  129.441391   38.871628   573.754761
2015-03-06  116.504845  127.289124   38.195362   566.130676
2015-03-09  117.001801  129.112137   38.637188   567.292480
2015-03-10  114.581505  126.735023   37.897800   553.490417
2015-03-11  112.492523  125.923889   37.852718   549.670898
2015-03-12  114.526291  126.871559   36.987106   553.989014
2015-03-13  113.734856  123.900124   37.311714   545.821472
2015-03-16  114.986427  126.148750   37.474010   552.991760
2015-03-17  116.909760  126.052376   37.600246   549.331787
2015-03-18  118.225739  128.341202   38.321594   557.968079
2015-03-19  117.333099  128.341202   38.132248   556.462219
2015-03-20  115.860680  130.806686   38.664242   558.825745
2015-03-23  117.066200  132.212097   38.646210   557.279968
2015-03-24  116.587677  130.903015   38.682270   568.628845
2015-03-25  113.541618  127.851295   37.383846   557.255066
2015-03-26  114.333046  128.967529   37.158421   553.649963
2015-03-27  113.421997  128.815002   36.942028   546.838684
2015-03-30  116.293190  130.638016   36.933010   550.518555
2015-03-31  114.507881  128.895309   36.662495   546.499573
2015-04-01  114.342239  127.835228   36.716602   541.074463
2015-04-02  115.326912  128.855179   36.328884   534.063721
...                ...         ...         ...          ...
2020-01-07  297.683533  132.803253  157.150772  1393.339966
2020-01-08  302.472137  133.911667  159.653915  1404.319946
2020-01-09  308.896912  135.326904  161.648468  1419.829956
2020-01-10  309.595215  135.277420  160.900513  1429.729980
2020-01-13  316.209534  135.188354  162.835236  1439.229980
2020-01-14  311.939667  134.416412  161.688370  1430.880005
2020-01-15  310.602844  135.208130  162.735504  1439.199951
2020-01-16  314.493591  136.554077  165.717361  1451.699951
2020-01-17  317.975372  136.880661  166.644836  1480.390015
2020-01-21  315.820465  137.731781  166.046463  1484.400024
2020-01-22  316.947815  142.403000  165.248642  1485.949951
2020-01-23  318.474182  141.393539  166.265869  1486.650024
2020-01-24  317.556335  139.107422  164.590439  1466.709961
2020-01-27  308.218506  137.187454  161.837952  1433.900024
2020-01-28  316.937805  138.107864  165.009308  1452.560059
2020-01-29  323.572052  136.267075  167.582260  1458.630005
2020-01-30  323.103180  135.356583  172.309357  1455.839966
2020-01-31  308.777191  142.244659  169.766296  1434.229980
2020-02-03  307.929199  144.758408  173.904999  1485.939941
2020-02-04  318.095062  147.569061  179.629364  1447.069946
2020-02-05  320.688934  154.714447  179.409958  1448.229980
2020-02-06  324.440002  155.139999  183.129807  1476.229980
2020-02-07  320.029999  153.410004  183.389099  1479.229980
2020-02-10  321.549988  154.429993  188.185989  1508.680054
2020-02-11  319.609985  153.479996  183.937607  1508.790039
2020-02-12  327.200012  155.309998  184.206863  1518.270020
2020-02-13  324.869995  154.309998  183.209595  1514.660034
2020-02-14  324.950012  150.699997  184.845123  1520.739990
2020-02-18  319.000000  151.100006  186.720001  1519.670044
2020-02-19  323.619995  150.860001  187.279999  1526.689941

[1258 rows x 4 columns]

In [10]:
returns = price.pct_change()

returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2020-02-12  0.023748  0.011923  0.001464  0.006283
2020-02-13 -0.007121 -0.006439 -0.005414 -0.002378
2020-02-14  0.000246 -0.023394  0.008927  0.004014
2020-02-18 -0.018311  0.002654  0.010143 -0.000704
2020-02-19  0.014483 -0.001588  0.002999  0.004619

corr메소드는 NA가 아니며 정렬된 색인에서 연속하는 두 Series에 대해 상관관계 계산

cov메소드는 공분산을 계산한다.

In [11]:
returns['MSFT'].corr(returns['IBM'])

0.4678460826113295

In [12]:
returns['MSFT'].cov(returns['IBM'])

8.804963427771954e-05

좀 더 편리한 문법으로 해당 컬럼을 선택할 수도 있다.

In [13]:
returns.MSFT.corr(returns.IBM)

0.4678460826113295

DataFrame에서 corr과 cov메소드는 DataFrame 행렬에서 상관관계와 공분산을 계산한다.

In [14]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.387410  0.583704  0.532157
IBM   0.387410  1.000000  0.467846  0.404681
MSFT  0.583704  0.467846  1.000000  0.671147
GOOG  0.532157  0.404681  0.671147  1.000000

In [15]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000242  0.000079  0.000131  0.000125
IBM   0.000079  0.000170  0.000088  0.000080
MSFT  0.000131  0.000088  0.000208  0.000146
GOOG  0.000125  0.000080  0.000146  0.000227

In [16]:
returns.corrwith(returns.IBM)

AAPL    0.387410
IBM     1.000000
MSFT    0.467846
GOOG    0.404681
dtype: float64

### 값 세기

In [17]:
obj = pd.Series(['a','b','d','c','a','c','b','a','a','c','c'])

**Value_counts**메소드는 Series에서 도수를 계산하여 반환한다.

In [18]:
obj.value_counts()

c    4
a    4
b    2
d    1
dtype: int64

In [20]:
# 내림 차순으로 정렬

pd.value_counts(obj.values, sort = False)

a    4
d    1
b    2
c    4
dtype: int64